{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} - About{% endblock %}

{% block body_block %}
<div class="page-header">
  <h1>About Drawflix</h1>
</div>
<div>
  <p>
    Drawflix is web application desgined in Django that allows users
    to create MS paint style drawings of their favourite films
    and compete against each other for the most likes.
  </p>

  <p>
    The film list has been sourced from the
    <a href="http://www.omdbapi.com" >Open Movie Database</a>
  </p>
  <p>
    The drawing board base code was sourced from
    <a href="http://leimi.github.io/drawingboard.js/" >drawingboard.js</a>
  </p>

  <p><img width="90" height="100" src="{% static "images/person1.jpg" %}" alt="person1" /></p>
  <p><img width="90" height="100" src="{% static "images/person2.jpg" %}" alt="person2" /></p>
  <p><img width="90" height="100" src="{% static "images/person3.jpg" %}" alt="person3" /></p>
  <p><img width="90" height="100" src="{% static "images/person4.jpg" %}" alt="person4" /></p>

</div>

{% endblock %}
