{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} - About {% endblock %}

{% block body_block %}
<br /><br />
<div>
  <p>
    Drawflix is web application desgined in Django that allows users
    to create MS paint style drawings of their favourite films
    and compete against each other for the most likes.
  </p>

  <p>
    The film list has been sourced from the
    <a href="http://www.omdbapi.com" >Open Movie Database</a>
  </p>
  <p>
    The drawing board base code was sourced from
    <a href="http://leimi.github.io/drawingboard.js/" >drawingboard.js</a>
  </p>



  Tweet about Drawflix! <a href="https://twitter.com/intent/tweet?button_hashtag=drawflix" class="fa fa-twitter fa-2x"> </a>
  <!-- TODO this should be in tweet.js now doesn't do popup -->
  <script>!
  function(d,s,id) {
  	var js, fjs=d.getElementsByTagName(s)[0],
  		p=/^http:/.test(d.location)?'http':'https';
  	if(!d.getElementById(id)) {
  		js=d.createElement(s);
  		js.id=id;
  		js.src=p+'://platform.twitter.com/widgets.js';
  		fjs.parentNode.insertBefore(js,fjs);
  		}
  	}
  (document, 'script', 'twitter-wjs');
  </script>

  

  <p><img width="600" height="500" src="{% static "images/df.jpg" %}" alt="team" /></p>

</div>

{% endblock %}
