{% if drawings %}
    <ul class="nav nav-sidebar">

    {% for d in drawings %}
        <li>{{ d.image }}  </li>

        <li>
        <strong class="like_count">{{ d.likes }}</strong> likes


        <button id="like" data-catid="{{d.id}}" class="btn btn-primary" type="button">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          Like</button>

      <!-- {% if user.is_authenticated %} -->
          <!-- <button class="likes" data-catid="{{d.id}}" class="btn btn-primary" type="button">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          Like
        </button>
      </li> -->

      <!-- {% endif %} -->



    {% endfor %}

{% else %}
    <li> <strong >There are no drawings present.</strong></li>

    </ul>
{% endif %}
