{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} - Hall of Fame{% endblock %}

{% block body_block %}

<h1>HALL OF FAME GAME BLAME SHAME</h1>

{% if recent_drawings %}
    <ul class="nav nav-sidebar">

    {% for d in recent_drawings %}
        <img src="{{ d.image }}">
      </img>
  </br>
      <button id="like" data-catid="{{d.id}}" class="btn btn-primary" type="button">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        Like</button>
        </br>


        <li>
        <strong class="like_count">{{ d.likes }}</strong> likes
		<p>Drawing of film {{d.film}}</p>

        {% if d.user != None %}
      <p>Drawing created by user {{d.user}}</p>
      {% else %}
      <p>Submitted by some anonymous guy</p>
      {% endif %}

      <!-- {% if user.is_authenticated %} -->
          <!-- <button class="likes" data-catid="{{d.id}}" class="btn btn-primary" type="button">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          Like
        </button>
      </li> -->

      <!-- {% endif %} -->



    {% endfor %}

{% else %}
    <li> <strong >There are no drawings present.</strong></li>

    </ul>
{% endif %}


{% endblock %}
