{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} - Draw{% endblock %}

{% block body_block %}
<h1>drawflix says...hello world!</h1>

<form method="get" action="#" enctype="text/html">
<input type="text" id="film_search" maxlength="50" />       
<input type="submit" id="submit_search"/> </br>
</br>
<select id="options" hidden></select>
	
	
	{% if film %}
	</br>
	<select>
	{% for f in film %}
	<option> {{ f.title }}</option>	
	{% endfor %}
	</select>
	{% endif %}
			
{% endblock %}
