{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} - Draw{% endblock %}

{% block body_block %}

<!-- <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> -->

<!-- move this to a CSS file??  -->
{#<style>#}
{##}
{#.board {#}
{#  /*margin: 0 auto;*/#}
{#  width: 300px;#}
{#  height: 300px;#}
{#}#}
{##}
{##test_board {#}
{#  width: 550px;#}
{#  height: 300px;#}
{#}#}
{##}
{#</style>#}

      <div class="page-header">
    {% if user.is_authenticated %}


      <h1>drawflix says... hello {{ user.username }}!</h1>{% else %}

      <h1>drawflix says... hello world!</h1>


      {% endif %}
      </div>

    <div>
      <input type="text" id="film_search" maxlength="50" /> <input type="submit" id=
      "submit_search" /><br />
      <br />
      <select id="options" hidden="">
        </select>
    </div><!-- temp solution -->

    <form id="drawing_form" method="post" action="/drawflix/add_drawing/" hidden="" name="drawing_form">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      {% for field in form.visible_fields %}
      {{ field.errors }}
      {{ field.help_text }}
      {{ field }}
      {% endfor %}
      <input type="submit" id="confirm_drawing" name="submit" value="Create drawing" />
    </form><!--remvoe this lster!!!!!  -->
    {% if drawings %}

    <ul>
      <li style="list-style: none">{% for drawing in drawings %}</li>

      <li>{{drawing.film }}</li>

      <li style="list-style: none">{% endfor %}</li>
    </ul>{% else %} <strong>There are no drawings present.</strong> {% endif %}

    <div>
      <h1>DRAW SOME FLIX!</h1>
    </div><button id="finalise">Confirm Drawing</button>

    <div class="drawing_board" board="1">
      <div class="board" id="test_board"></div>
    </div>


    <!-- <script src="{% static "js/jquery-2.2.1.js" %}"></script> -->
    <!-- TODO move these to index template???  -->
    <!-- <link rel="stylesheet" href="../../static/css/drawingboard.css">
     <script src="{% static "js/drawingboard.js" %}"></script>

    <script src="{% static "js/drawflix-ajax.js" %}"></script> -->
  {% endblock %}
