{% extends 'base.html' %}

{% load staticfiles %}


{% block title %} - Trending{% endblock %}

{% block body_block %}

<h1>MIND-BENDING BLENDING WENDING TRENDING EXTRAVAGANT SPENDING</h1>

<div>
  {% if trending_drawings %}
      <ul class="nav nav-sidebar">

      {% for d in trending_drawings %}
          <img src="{{ d.image }}"></img>

          <li>
          <strong class="like_count" id="{{d.id}}">{{ d.likes }}</strong> likes
          <p>Drawing of film {{d.film}}</p>
        {% if d.user != None %}
  		<p>Drawing created by user {{d.user}}</p>
      {% else %}
      <p>Submitted by some anonymous guy</p>
      {% endif %}

          <button id="like" data-catid="{{d.id}}" class="btn btn-primary" type="button">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            Like</button>
  		  </br>


        <!-- {% if user.is_authenticated %} -->
            <!-- <button class="likes" data-catid="{{d.id}}" class="btn btn-primary" type="button">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            Like
          </button>
        </li> -->

        <!-- {% endif %} -->

      {% endfor %}

  {% else %}
      <li> <strong >There are no drawings present.</strong></li>

      </ul>
  {% endif %}
</div>



{% endblock %}
